[Unit]
Description=rfcomm service
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/home/cito/work/python/rfcomm/register_rfcomm.sh

#起動ユーザを指定
#User=pi
#Group=mygroup

[Install]
WantedBy=multi-user.target
